<% provide(:title, 'Sign up') %>
<% provide(:h1, 'Sign up') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user, validate: true) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <%= render 'fields', f: f %>
      <br/><%= f.submit "Create my account", class: "btn btn-large btn-primary", id: 'sign_up' %>
    <% end %>
  </div>
</div>